body {
  font-family: "Segoe UI", "Segoe WP", Arial, sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

h1 {
  color: #2b2b2b;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
}

li {
  list-style: none;
  color: rgb(112, 117, 122);
  font-size: 16px;
  font-weight: 100;
  line-height: 19.2px;
}
